{% extends 'base.html' %}

{% block content %}

        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ my_post_2.title }}</h1>
                        <span class="subheading">{{ my_post_2.content }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div id="posts-box" class="col-md-10 col-lg-8 col-xl-7">
                <!-- Pager-->
                <div id="pager" class="d-flex justify-content-end mb-4">
                    <button class="btn btn-primary text-uppercase" onclick="load_posts()">Older Posts →</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}